.consulting{
  padding: 2rem 0;
  @include width(70%);
  .consulting-heading{
    @include width(92%);
margin-bottom: 3rem;
h3{
  margin-bottom: 1rem;
}

  }

}
.consulting-btn{
  @extend .form-btn;
  }

  @include lg(){
   
    
  .consulting{
    width: 75%;
    @include flex($justify:space-between);
    .consulting-heading{
      width:100%;
      margin-bottom: 0;

    }
  
  }
  }