// Colors
$primary-color:#252B42;
$secondary-color: #FF7B47;
$text-color:#737373;
$icons-color:#0D5C63;
$background-color:#F6F6F6;
$background-color-about:#FAFAFA;
$card-color:#D9EDFF;
$white:#fff;
// Font-families
$font-family:'Montserrat';

// Font-weight
$light:400;
$regular:500;
$medium:600;
$semi-bold:700;
$bold:800;

// Font-size
$text-size:0.875rem; //14px
$subtext-size:1.5rem; //24px
$mobile-subtext-size:1.875rem;   //30px
$heading-size:3.625rem; //58px
$subheading-size:2.5rem; //40px 

// Media queries
$large:800px;




